* {
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(to bottom, #ff71ce, #01cdfe);
}

h1 {
    text-shadow: 2px 2px 2px #4f43ae3b;
}

.main-conteiner {
    max-width: 100%;
    max-height: 100%;
}

.top-header {
    border-top: 1px solid transparent;
}

.menu-itens {
    margin-top: 5px;
    text-align: center;
    list-style: none;
}

.game-conteiner {
    display: flex;
}

.nes-container {
    padding: 0 !important;
}

.board-conteiner {
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
}

.board {
    background-color: #e7e7e7;
    padding-bottom: 0;
}

.right-column-conteiner {
    justify-items: right;
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
}

.right-column {
    text-align: center;
    background-color: #e7e7e7;
}

.right-column li {
    list-style: none;
    margin-bottom: 5px;
}

.right-column ul {
    margin-top: 20px;
}

.next-piece {
    display: inline-block;
    font-size: 10px;
    margin: 20px;
}

#next {
    max-height: 100%;
}

.controls {
    font-size: 10px;
}

.right-column>.play-button {
    max-width: 100%;
    background-color: #05ffa1;
    font-size: 16px;
    margin-bottom: 10px !important;
    color: #212529;
}

.right-column>.play-button:hover {
    color: #212529;
    text-decoration: none;
    background-color: #05ffa1;
}

.right-column>.play-button::after {
    box-shadow: inset -4px -4px#02b36f;
}

.right-column>.play-button:hover::after {
    box-shadow: inset -6px -6px #02b36f;
}

.right-column>.play-button:active:not(.is-disabled)::after {
    box-shadow: inset 4px 4px #02b36f;
}

footer {
    display: flex;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
}