* {
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: linear-gradient(to bottom, #ff71ce, #01cdfe);
}

h1 {
    text-shadow: 2px 2px 2px #4f43ae;
}

.game-conteiner {
    display: flex;
    position: relative;
}

.board-conteiner {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.board {
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    border-color: #211a21;
    background-color: #cec9cc;
}

.column-conteiner {
    display: flex;
    max-width: 100%;
    border: solid 2px;
    border-radius: 5px;
    margin-left: 15px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    border-color: #211a21;
    background-color: #cec9cc;
}

.next-piece {
    display: flex;
    display: inline-block;
    font-size: 10px;
    font-size: 10px;
    margin: 20px;
}

.controls {
    font-size: 10px;
}

.play-button {
    display: flex;
    max-width: 100%;
    border-style: none;
    background-color: #05ffa1;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

footer {
    text-align: center;
    height: 30px;
    /* Para centralizar texto de linha unica podemos colocar line-height c mesmo valor do height */
    line-height: 30px;
    background-color: #908a99;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
}